main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.to-do-conteiner {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
}

h1 {
    text-align: center;
    color: #333;
}

.todo-form {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.todo-input {
    width: 70%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.todo-input::placeholder {
    color: #ccc;
}

.todo-input:focus {
    border-color: #007bff;
}

button {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
}

.all{
    display: flex;
    justify-content: space-between;
}

.todo-item {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.todo-item.completed {
    text-decoration: line-through;
    color: #999;
}

.todo-list li{
    display: flex;
    justify-content: space-between;
    align-items: center;
   padding-top: 10px;
}

.todo-list li button.remove{
    background-color: red;
}